<table class="table-3">
  <tr>
    <td>
      Hi <%= @user.first_name %>!
    </td>
  </tr>
  <tr>
    <td style="padding-top: 25px">
      We are excited to inform you that your account has been successfully approved!
    </td>
  </tr>
  <tr>
    <td>
      You can now log in to your account and start exploring our platform.
    </td>
  </tr>
  <tr>
    <td style="padding-top: 20px">
      Click here to log in to your account: [login link here]
    </td>
  </tr>
  <tr>
    <td style="padding-top: 20px">
      Should you have any questions or need assistance at any point along the way, our dedicated support team is here to help. Feel free to reach out to us via email or through our support portal, and we'll be happy to assist you.
    </td>
  </tr>
  <tr>
    <td style="padding-top: 25px">
      Happy trading!
    </td>
  </tr>
  <tr>
    <td style="padding-top: 25px">
      Best regards,<br>
      Trails Team
    </td>
  </tr>
</table>